body {
	background-color: blue;
	display: flex;
	justify-content: center;
}
.sign-up {
	background-color: black;
	width: 1000px;
	height: 10vh;
	display: flex;
	justify-content: center;
}
.sign-up-btn {
	width: 100%;
	height: 30px;
}
.display {
	background-color: yellow;
	width: 1000px;
	height: 50vh;
	display: flex;
	justify-content: center;
	margin-top: 100px;
}
