body {
	box-sizing: border-box;
	/* display: grid; */
}
#containerDiv-1 {
	/* display: grid; */
	height: 100vh;
	background-color: cadetblue;
}
#headerDiv-1 {
	height: 20vh;
	background-color: coral;
	top: 0;
	margin-bottom: 50px;
}
