/*--Foundation Layout--*/

body {
	box-sizing: border-box;
	font-family: "Baskervville", serif;
	background-color: #dcdcdd;
}
#headerDiv-1 {
	height: 50vh;
	background-color: #d0c3bd;
	top: 0;
	margin-bottom: 10px;
	margin-left: 100px;
	margin-right: 100px;
	text-align: center;
}
#titleDiv {
	/* margin-top: 250px; */
}
#anchorDiv {
	background-color: honeydew;
	margin-top: 400px;
	height: 6%;
	font-size: large;
	/* text-align: center; */
}
#anchorHome {
	margin-right: 20px;
	margin-left: 80px;
}
#anchorCreators {
	margin-right: 20px;
	margin-left: 20px;
}
#anchorProducts {
	margin-right: 20px;
	margin-left: 20px;
}
#anchorCompanies {
	margin-right: 80px;
	margin-left: 20px;
}
#containerDiv-1 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	height: 100vh;
	/* background-color: cadetblue; */
	margin-bottom: 20px;
	list-style-type: none;
	margin-top: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
	margin-left: 30px;
}
#containerDiv-2 {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	/* background-color: darkslateblue; */
	height: 60vh;
	margin-right: 20px;
	margin-bottom: 30px;
	margin-left: 20px;
}
.featuredCreatorDiv {
	background-color: #22161c;
	list-style-type: none;
	margin-top: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
	margin-left: 30px;
	border-radius: 250px 15px 15px;
}
#personName {
	margin-left: 200px;
	margin-top: 50px;
}
#personList {
	color: lemonchiffon;
	list-style-type: none;
	margin-left: 50px;
	margin-top: 50px;
}
.personPictureItem {
	margin-left: 60px;
	margin-top: 60px;
}
