/*--Foundation Layout--*/

body {
	box-sizing: border-box;
	font-family: "Baskervville", serif;
	background-color: #dcdcdd;
}
#headerDiv-1 {
	height: 50vh;
	background-color: #d0c3bd;
	top: 0;
	margin-bottom: 20px;
	margin-left: 100px;
	margin-right: 100px;
	text-align: center;
}
#anchorDiv {
	background-color: #d0c3bd;
	margin-top: 400px;
	height: 6%;
	font-size: large;
}
#anchorHome {
	margin-right: 20px;
	margin-left: 80px;
}
#anchorCreators {
	margin-right: 20px;
	margin-left: 20px;
}
#anchorProducts {
	margin-right: 20px;
	margin-left: 20px;
}
#anchorCompanies {
	margin-right: 80px;
	margin-left: 20px;
}
#containerDiv-1 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	height: 100vh;
	background-color: #aeb6bf;
	margin-bottom: 30px;
	list-style-type: none;
	margin-top: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
	margin-left: 30px;
}
#containerDiv-2 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	height: 100vh;
	background-color: #aeb6bf;
	margin-bottom: 30px;
	list-style-type: none;
	margin-top: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
	margin-left: 30px;
}
#containerDiv-3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	height: 100vh;
	background-color: #aeb6bf;
	margin-bottom: 30px;
	list-style-type: none;
	margin-top: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
	margin-left: 30px;
}
/*--Artisan Card CSS--*/
.featuredCreatorDiv {
	background-color: #22161c;
	list-style-type: none;
	margin-top: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
	margin-left: 30px;
	border-radius: 250px 15px 250px;
	color: indianred;
}
#personName {
	margin-left: 160px;
	margin-top: 50px;
}
#personList {
	color: lemonchiffon;
	list-style-type: none;
	margin-left: 50px;
	margin-top: 50px;
}
.personPictureItem {
	margin-left: 60px;
	margin-top: 60px;
}
/*--Exhibitor Card CSS--*/
.companyDiv {
	background-color: #22161c;
	list-style-type: none;
	margin-top: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
	margin-left: 30px;
	border-radius: 250px 15px 215px;
	color: indianred;
}
#companyHeaderName {
	margin-left: 160px;
	margin-top: 50px;
}
#companyCardList {
	color: lemonchiffon;
	list-style-type: none;
	margin-left: 20px;
	margin-top: 50px;
}
/*--Product Card CSS--*/
.productDiv {
	background-color: #22161c;
	list-style-type: none;
	margin-top: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
	margin-left: 30px;
	border-radius: 250px 15px 15px;
	color: indianred;
}
.productName {
	margin-left: 160px;
	margin-top: 50px;
}
.productCardList {
	color: lemonchiffon;
	list-style-type: none;
	margin-left: 50px;
	margin-top: 50px;
}
.personPictureItem {
	margin-left: 60px;
	margin-top: 60px;
}
