.navbar {
	overflow: hidden;
	background-color: darkslategrey;
}
.navbar a {
	display: block;
	text-align: center;
	float: left;
	padding: 10px 15px;
	color: #ec7063;
	text-decoration: none;
	font-size: x-large;
	font-family: Arial, Helvetica, sans-serif;
	opacity: 0.8;
}
body {
	background-color: #212f3d;
}
.testbox {
	display: flex;
	padding: 50px;
	justify-content: space-around;
}
.testbox2 {
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: flex-end;
}
