.container {
	display: grid;
	height: 100vh;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		"about about portfolio portfolio"
		"about about blog contact";
}
#about {
	grid-area: about;
	background-color: black;
}
#portfolio {
	grid-area: portfolio;
	background-color: blueviolet;
}
#blog {
	grid-area: blog;
	background-color: crimson;
}
#contact {
	grid-area: contact;
	background-color: darkmagenta;
}
