body {
	box-sizing: border-box;
	background-color: #050d25;
	font-family: "Libre Caslon Display", serif;
	font-size: larger;
}
#headerDiv {
	display: flex;
	justify-content: center;
	position: absolute;
	width: 100%;
	color: #c1d7cd;
	top: 0;
	margin-bottom: 30px;
}
#appTitle {
	margin-right: 20px;
}
#getPeopleBtn {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.8);
	background: rgb(145, 92, 182);
	/* border-radius: 10px; */
	font-weight: normal;
	text-transform: uppercase;
	transition: all 0.5s ease-in-out;
	align-items: center;
	margin-right: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}
#getPeopleBtn:hover {
	color: rgba(255, 255, 255, 1);
	box-shadow: 0 5px 15px rgba(145, 92, 182, 0.4);
}
#getCompaniesBtn {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.8);
	background: rgb(145, 92, 182);
	/* border-radius: 10px; */
	font-weight: normal;
	text-transform: uppercase;
	transition: all 0.5s ease-in-out;
	align-items: center;
	margin-right: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}
#getCompanieseBtn:hover {
	color: rgba(255, 255, 255, 1);
	box-shadow: 0 5px 15px rgba(145, 92, 182, 0.4);
}
#divContainer {
	display: grid;
	grid-template-columns: repeat(4, 0.1fr);
	align-items: center;
	margin-top: 100px;
	margin-right: 30px;
	margin-bottom: 30px;
	margin-left: 30px;
	background-color: #485461;
	border-radius: 25px;
	justify-content: space-around;
}
.companyDiv {
	background-color: #d2c6b6;
	text-align: center;
	background-size: cover;
	margin-top: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
	margin-left: 30px;
	border-radius: 15px;
	padding: 30px;
	width: 280px;
	height: 400px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.1s;
}
.companyDiv:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
#companyCardList {
	list-style-type: none;
}
