<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Artist Page</title>
	</head>
	<body>
		<dl>
			${artists.map(artist => `
			<h3>Artist Name</h3>
			<dt>${artist.first_name},${artist.last_name}</dt>
			<h3>Origin Country</h3>
			<dt>${artist.country_name}</dt>
			<h3>Movement</h3>
			<dt>${artist.movement_name}</dt>
			` ).join("")};
		</dl>
	</body>
</html>
