<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>ArtSearch</title>
	</head>
	<body>
		<h1>ArtSearch</h1>
		<a href="/view_artist">View Artist Database</a>
		<h2>Add Artist to Our Database</h2>
		<form action="/add_artist" method="post">
			<label for="artist">Artist:</label>
			<input type="text" id="artist" name="artist" /><br /><br />
			<input type="submit" value="Submit" class="submitbtn" />
		</form>
	</body>
</html>
